<div id="index-container">
  <div id="index-content">
    $body$
  </div>
  <h2>Timeline</h2>
  <div id="lemontopia-timeline">
    <div id="timeline-header" class="timeline-card">
      <h3 class="timeline-year">Year</h3>
      <h3 class="timeline-title">Title</h3>
      <h3 class="timeline-blurb">Description</h3>
    </div>
    $for(section-contents)-$
    <div class="timeline-card">
      <div class="timeline-year">$timeline-year$</div>
      <h4 class="timeline-title"><a href="./$page-id$.html">$page-title$</a></h4>
      <div class="timeline-blurb">$blurb$</div>
    </div>
    $-endfor$
  </table>
</div>