
#index-container {


  table#lemontopia-timeline {
    border-spacing: 0px;
    max-width: 48em;
     
    .timeline-title {
      padding-right: 1em;
      white-space: nowrap; // put the whole title on one line
    }

    .timeline-year {
      text-align: right;
      padding-right: 1em;
    }

    .timeline-blurb {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}